* {
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.maze {
    position: absolute;
    top: 60%; left: 50%;
    transform: translate(-50%, -50%);
}


.maze-cell {
    min-width: 20px;
    height: 20px;
    background-color: rgb(226, 226, 226);
    border: 1px solid;
}

.maze-cell.passed {
    background-color: #fff;
}


.generator {
    position: absolute;
    inset: 3px 0 0 3px;
    width: 15px;
    height: 15px;
    background-color: orange;
    border-radius: 50px;
    transition: inset 300ms linear;
}


#progress-bar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}

#progress-bar::after {
    content: attr(value)'%';
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: -17px;
}

.generators {
    display: flex;
    flex-basis: 100%;
}

.menu {
    max-width: 100%;
}

.entrances > * {
    cursor: pointer;
}

.entrances .form-check-label {
    display: block;
    text-align: left;
}